/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Thasadith', sans-serif;
  background-color: #fbfbfb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

#Secret-Santa {
  font-family: 'Major Mono Display', monospace;
  color: #bf1f10;
  font-size: 2rem;
  margin-top: 10%;
  text-decoration: none;
}

#Secret-Santa-image {
  margin: 30% 0 20% 0;
}

button {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

button:active,
button:hover,
button:focus {
  outline: 0;
}


button:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

button:active:hover,
button:focus:hover,
button:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}


a:link, a:visited {
  text-decoration: none;
  display: inline-block;
}


form {
  margin: 0 30px;
}
.account-type, .gender {
margin: 15px 0;
}
input[type=radio] {
display: none;
}
label#icon {
margin: 0;
border-radius: 5px 0 0 5px;
}
label.radio {
position: relative;
display: inline-block;
padding-top: 4px;
margin-right: 20px;
text-indent: 30px;
overflow: visible;
cursor: pointer;
}
label.radio:before {
content: "";
position: absolute;
top: 2px;
left: 0;
width: 20px;
height: 20px;
border-radius: 50%;
background: #1c87c9;
}
label.radio:after {
content: "";
position: absolute;
width: 9px;
height: 4px;
top: 8px;
left: 4px;
border: 3px solid #fff;
border-top: none;
border-right: none;
transform: rotate(-45deg);
opacity: 0;
}
input[type=radio]:checked + label:after {
opacity: 1;
}
input[type=text], input[type=password] {
width: calc(100% - 57px);
height: 36px;
margin: 13px 0 0 -5px;
padding-left: 10px; 
border-radius: 0 5px 5px 0;
border: solid 1px #cbc9c9; 
box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
background: #fff; 
}
input[type=password] {
margin-bottom: 15px;
}
#icon {
display: inline-block;
padding: 9.3px 15px;
box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
background: #1c87c9;
color: #fff;
text-align: center;
}

h2 {}

h3 {}

p {}
